*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth ;
}

.coverpage{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: rgb(246,7,32);
    background: -webkit-linear-gradient(100deg, rgba(246,7,32,1) 0%, rgba(236,59,99,1) 46%, rgba(0,212,255,1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lobster', cursive;
}

.header{
    background-color: transparent;
    height: 18vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    position: relative;
    background-color: black;
    color: white;
    height: 20vh;
    min-height: 20vh;
    width: 10%;
    min-width: 10%;
    box-shadow: 5px 5px 3px rgb(22, 22, 22);
}

.logo h1{
    color: white;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 6vw;
    z-index: 1;
    line-height: 20vh;
    animation: movein 2s;
}

.icon {
    display: none;
    cursor: pointer;
    animation: movein 2s;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(248, 247, 247);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
      opacity: 0;
    }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.icon:focus{
    outline: none;
}

.navbar {
    display: flex;
    list-style: none; 
    justify-content: space-around;
    width: 40%;
 }
  
.navbar a{
    text-decoration: none;
    color:black;
    font-size: 1.5vw;
    text-shadow: 1px 1px 2px rgb(22, 22, 22);
  }

.navbar li a:hover{
    border-bottom: 2px solid white;
    animation: ahover 2s;
}

.coverpage .sintro{
    text-align: center;
    margin: auto;
    margin-top: 12vh;
    line-height: 18vh;
    width: 50%;
}

.coverpage .sintro h1{
    font-size: 10vw;
    text-shadow: 2px 2px 4px rgb(22, 22, 22);
    animation: movein 3s;
}

.coverpage .sintro h2{
    font-size: 2.5vw;
    text-shadow: 2px 2px 4px rgb(22, 22, 22);
    animation: movein 3s;
}

.coverpage .sintro button{
    width: 35%;
    height: 15vh;
    font-size: 3.5vw;
    background-color: transparent;
    border: 4px solid white;
    color: white;
}

.coverpage .sintro button:focus{
    outline: none;
}

.coverpage .sintro button a{
    text-decoration: none;
    color: white;
    font-family: 'Lobster', cursive;
}

.coverpage .sintro button:hover,
.coverpage .sintro button:focus{
    margin-top: 4vh;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: 1s;
    -webkit-transition: 1s;
    cursor: pointer;
}

.portfolio {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    font-family: 'Noto Sans TC', sans-serif;
}

.content {
    height: 100vh;
    max-height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: white;
    margin: auto;
}

.profilepictures {
    width: 22vw;
    height: 45vh;
    align-items: center;
    box-shadow: 5px 5px 3px rgb(22, 22, 22);
}

.rightcontent {
    display: inline;
}

.profile{
    font-size: 1.25rem;
    line-height: 8vh;
    text-shadow: 5px 5px 4px rgb(22, 22, 22);
}

.socialbar {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    width: 35vw;
    margin: 40px auto auto auto;
    justify-content: space-evenly;
}

.socialbar li {
    list-style: none;
    margin: auto;
}

.socialbar li a img{
    width: 9vw;
    height: 9vh;
}

.socialbar li:nth-child(2) a img{
    height: 11vh;
}

.socialbar li:nth-child(4) a img{
    margin-left: 20px;
    width: 5vw;
    height: 8vh;
}


@media screen and (max-width:900px){

    .header{
        justify-content: space-around;
    }

    .logo{
        width: 25vw;
    }

    .logo h1{
        font-size: 15vw;
    }


    .icon{
        display: inline-block;
        position: -webkit-sticky;
        background-color: transparent;
        z-index: 2;
    }

    .navbar{
        position: absolute;
        top: 0;
        bottom: 0;
        background: black;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: white;
        /* hide the menu above the screen by default */
        transform: translateY(-100%);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 1s ease;
        flex-direction: column;
        text-align: center;
        z-index: 1;
    }

    .navbar a{
        color: white;
        font-size: 5vw;
        z-index: 3;
    }

    .navbar.show{
        transform: translateY(0);
    }

    .navbar.hide{
        transform: translateY(-100%);
    }


    .coverpage .sintro {
        margin-top: 8vh;
        line-height: 10vh;
        width: 90%;
    }

    .coverpage .sintro h1 {
        margin-top: 18vh;
        font-size: 15vw;
    }

    .coverpage .sintro h2 {
        font-size: 5vw;
    }

    .coverpage .sintro button{
        width: 40%;
        height: 15vh;
        margin-top: 2vh;
        font-size: 6.5vw;
    }

    .portfolio{
        height: 100vh;
        max-height: 100vh;
        min-height: -webkit-fill-available;
    }

    .content{
        display: inline-block;
        height: 90vh;
        width: 100%;
    }

    .profilepictures{
        margin: 55px 15px 15px 15px;
        width: 40vw;
        height: 30vh;
    }

    .profile{
        font-size: 0.8rem;
        width: 85vw;
        margin: auto;
        line-height: 6vh;
    }

    .socialbar{
        margin-top: 1vh;
        width: 80vw;
        justify-content: space-evenly;
    }

    .socialbar li:nth-child(4) a img{
        margin-left: 5px;
        width: 9vw;
        height: 6vh;
    }
}

