* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    box-shadow: 0 3px 6px 10px black;
    width: 100%;
    height: 15vh;
    color: white;
    position: sticky;
    overflow: visible;
    top: 0;
    z-index: 1;
}

header h1{ 
    
    font-size: 3.5em;
    text-shadow: 10px 5px 3px black;
}

header .nav{ 
   width: 50%;
}

header .nav ul{
    display: flex;
    list-style: none; 
    justify-content: space-around;
}


header .nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 5px 2.5px 3px black;
    font-size: 15px;
}

.firstimg{
    width: 100%;
    height: 90vh;
    display: table;
    scroll-margin-top: 15vh;
}


.firstimg::after{
    content: "";
    background-image: url('https://wallpaperplay.com/walls/full/6/f/d/98512.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.firstimg h2 {
    color: black;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 80vh;
    font-size: 3vw;
    text-shadow: 2px 2px 3px;
}

.secondpage{
    height: 90vh;
    scroll-margin-top: 15vh;
}

.secondpage h2, 
.lastpage h2{
    text-align: center;
    font-size: 5vw;
    text-shadow: 3px 3px 5px;
    padding: 5vh 0vw;
}


.secondpage .container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: 50vh;
    
}

.secondpage .container section{
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 2.5vw;
    transition: 0.9s ease-in-out;
    line-height: 50vh;
    overflow: hidden;
}

.secondpage .container section p{
    margin: 20px;
    font-size: 1.5vw;
    line-height: 5vh;
    transition: 0.5ms ease-in-out;
}

.secondpage .container section:nth-child(1) p,
.secondpage .container section:nth-child(3) p
{
    color:white;
}

.secondpage .container section:nth-child(2) p
{
    color:black;
}

.secondpage .container section:nth-child(1),
.secondpage .container section:nth-child(3)
{
    background-color: black;
    color: white;
}

.secondpage .container section:hover
{
    flex: 100%;
    flex-wrap: wrap;
    font-size: 3vw;
    line-height: 9vh;
    transition: 0.8s ease-in-out;
    cursor: pointer;
}

.thirdpage{
    height: 90vh;
    background-color: black;
    color: white;
    scroll-margin-top: 15vh;
}

.thirdpage h2{
    text-align: center;
    font-size: 5vw;
    text-shadow: 3px 3px 5px black;
    padding: 50px 0px;
}

.thirdpage .table{
    height: 50vh;
    max-height: 50vh;
    width: 85vw;
    align-items: center;
    overflow: hidden;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 50px 0px;
}

.thirdpage .table th, td{
    text-align: center;
    border: 5px solid white;
}

.thirdpage .table th{
    font-size: 1.5vw;
    height: 12vh;
}

.thirdpage .table td p{
    font-size: 1vw;
    line-height: 5vh;
}

.lastpage{
    height: 90vh;
    scroll-margin-top: 15vh;
}

.lastpage ul {
    width: 80vw;
    height: 40vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    list-style: none;
}

.lastpage ul li{
    align-items: center;
    margin: auto;
    padding: 15px 0px;
}

.lastpage ul li a{
    display: block;
    font-size: 1.5vw;
    line-height: 5vh;
    text-decoration: none;
    color: black;
}

.lastpage ul li img{
    width: 20vw;
    height: 30vh;
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color: black;
    color: white;
 }

 footer p{
    text-align: center;
    vertical-align: middle;
    font-size: 1.5vw;
 }



@media only screen and (max-width: 500px){

    header{
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 15vh;
    }

    header .nav{
        margin: 10px;
        width: 100%;
    }

    .firstimg,
    .firstimg::after,
    .secondpage,
    .thirdpage{
        height: 100vh;
    }
    
    .firstimg h2{
        line-height: 80vh;
        font-size: 4vw;
        display:relative;
    }

    .secondpage h2,
    .thirdpage h2,
    .lastpage h2{
        font-size: 10vw;
        padding: 6vh 0px;
    }

    .secondpage .container {
        width: 90vw;
        height: 50vh;
    }

    .secondpage .container section,
    .thirdpage .table th{
        font-size: 4vw;
    }

    .secondpage .container section p{
        line-height: 3vh;
        font-size: 2.5vw;
    }

    .thirdpage .table td p{
        font-size: 2.5vw;
        line-height: 3.5vh;
    }

    .lastpage ul{
        display: inline-block;
        height: 10vh;
        width: 100%;
    }


    .lastpage ul li a{
        font-size: 2vw;
    }

    .lastpage ul li img{
        width: 50vw;
        height: 30vh;
    }

    footer{
        height: 2vh;
        font-size: 3vw;
        vertical-align: middle;
    }
}