*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

/*coverpage*/
header{
    position: relative;
    width: 100%;
    margin: auto;
    height: 20%;
    align-items: center;
    color: rgb(247, 236, 236);
    animation: header;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;

    -moz-animation: header;
    -webkit-animation: header;
    -o-animation: header;

    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;

    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: fowards;
}

.logo{
    position: absolute;
    align-items: center;
    top: 2%;
    left: 5%;
    transform: translate(-2%, -5%);
    -webkit-transform: translate(-2%, -5%);
    -o-transform: translate(-2%, -5%);
    -moz-transform: translate(-2%, -5%);
}

.logo h1{font-size: 8em;}

.burger { 
    display: none;
    cursor: pointer; 
    pointer-events: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(245, 244, 244);
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
  }

.navbar {
    flex: 2;
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.navbar  li a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

.menulink::after,
.menulink::before{
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    background: #fff;
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
}

.menulink:hover::after {
    width: 100%;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
}

.coverpage {
    height: 100vh;
    width: 100%;
    background: url("Coverpage.jpg");
    /*background pictures taken by myself*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-attachment: fixed;
    padding-left: env(safe-area-inset-left); /* Apply safe area */
    padding-right: env(safe-area-inset-right);
    overflow: hidden;
}

.intro{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    margin: 0 auto;
    color: white;
}

.intro h1{
    font-size: 6em;
    animation: intro;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    -webkit-animation: intro;
    -moz-animation: intro;
    -o-animation: intro;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;

    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.intro a {
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    border: white 3px solid;
    padding: 1rem 2rem;
    animation: anchor;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;

    -webkit-animation: anchor;
    -moz-animation: anchor;
    -o-animation: anchor;

    -webkit-animation-duration: 3.5s;
    -moz-animation-duration: 3.5s;
    -o-animation-duration: 3.5s;

    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;

    transition: border-radius 1s;
    -webkit-transition: border-radius 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}

.intro a:hover{
    border-radius: 25px;
}

.intro a:active, 
.navbar li a:active{
    color: black;
}

/*secondpage*/
.portfolio{ 
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left{
    position: relative;
    flex: 1;
    height: 100vh;
    width: 50%;
    overflow: hidden;
}

.leftcontainer {
    height: 100%;
    z-index: 0;
    background: url("Profilepictures.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.leftcontainer:hover, .leftcontainer:focus {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.leftcontainer::after{
    content: "";
    z-index: 2;
    position: absolute;
    background: black;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    top: 0;
    transform: translateX(-100%);
    animation: leftCover;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    -webkit-animation: leftCover;
    -moz-animation: leftCover;
    -o-animation: leftCover;

    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;

    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.leftcontent{
    display: block;
    position: absolute;
    justify-content: center;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 4;
    margin: 0 auto;
    padding: 25px;
    color: #fff;
    width: 80%;
    height: 40%;
    border: 8px solid white;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.leftcontent h1{
    font-size: 6.5rem;
}

.leftcontent h2 {
    font-size: 3.5rem;
}

.leftcontent hr {
    background: white;
    height: 5px;
    border: none;
}

.leftcontent p {font-size: 1.5rem;
text-align: center;}

.right{
    flex: 1;
    height: 100vh;
    width: 50%;
    top: 25%;
    display: block;
    position: relative;
    overflow: hidden;
}

.rightcontent {
    position: relative;
    width: 70%;
    height: 50%;
    border: 5px solid black;
    margin: auto;
    color: black;
    overflow: hidden;
}

.mySlides {
    display: none;
    padding: 30px;
    line-height: 35px;
    transition: all 1s ease-in-out;
}

.mySlides:nth-child(1){
    text-align: center;
    padding-top: 60px;
}

.mySlides:nth-child(2) p{
    padding-top: 3px;
    text-align: left;
    font-size: 1rem;
}

.mySlides:nth-child(3){
    text-align: center;
    line-height: 28px;
}

.mySlides:nth-child(3) h3, 
.mySlides:nth-child(3) p{
    text-align: left;
}


.mySlides:nth-child(3) h3{
    padding-top: 10px;
    font-size: 1rem;
}


.mySlides:nth-child(3) p{
    font-size: 0.9rem;
}


/* The dot/bullet/indicator container */
.dot-container {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: transparent;
    bottom: 0px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: black;
}


.progresscontainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 10px;
    background: transparent
}

.progresscontainer .bar1{
    margin: auto;
    border: 2px solid black;
    height: 100%;
    width: 24%;
}

.progresscontainer .bar2{
    background: black;
    margin: auto;
    border: 2px solid black;
    height: 100%;
    width: 24%;
}


.otherinfo {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 126, 114);
}

/*animation*/
@keyframes header {
    0% {top: -1000px;}
    100% {top: 0px;}
}

@keyframes burger {
    0% {top: -1000px;}
    100% {top: 5%;}
}

@keyframes intro{
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);}

    100% {transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);}
}

@keyframes anchor {
    0% {
        transform: translateX(-400%);
        -webkit-transform: translateX(-400%);
        -moz-transform: translateX(-400%);
        -o-transform: translateX(-400%);}

    100% {transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);}
}

@keyframes leftCover{
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);}

    100% {transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);}
}


/*Responsive*/
@media screen and (max-width: 1050px) {
    /* start of large tablet styles */
    header{
        position: relative;
        justify-content: center;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
    }

    .logo h1{font-size: 6em;}

    .burger{
        display: inline-block;
        pointer-events: all;
        cursor: pointer;
        position: fixed;
        right: 5%;
        top: 5%;
        transform: translate(-5%, -5%);
        z-index: 11;
        animation: burger;
        animation-fill-mode: forwards;
        animation-duration: 1.5s;

        -webkit-animation: burger;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-duration: 1.5s;

        -moz-animation: burger;
        -moz-animation-duration: 1.5s;

        -o-animation: burger;
        -o-animation-fill-mode: forwards;
        -o-animation-duration: 1.5s;
    }

    .navbar{
        background-color: black;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        padding: 0;
        bottom: 0;
        z-index: 10;
        overflow: hidden;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
         /* transition adds a little animation when sliding in and out the menu */
        transition: transform 1.5s ease-in-out;
        -webkit-transition: transform 1.5s ease-in-out;
        -moz-transition: transform 1.5s ease-in-out;
        -o-transition: transform 1.5s ease-in-out;
    }

    .navbar.show{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .navbar li {opacity: 0;}

    .navbar li a {font-size: 1.5em;}

    .navbar li:nth-child(1){
        transition: all 0.5s ease-in-out 0.2s;
        -webkit-transition: all 0.5s ease-in-out 0.2s;
        -moz-transition: all 0.5s ease-in-out 0.2s;
        -o-transition: all 0.5s ease-in-out 0.2s;
    }

    .navbar li:nth-child(2){
        transition: all 0.5s ease-in-out 0.4s;
        -webkit-transition: all 0.5s ease-in-out 0.4s;
        -moz-transition: all 0.5s ease-in-out 0.4s;
        -o-transition: all 0.5s ease-in-out 0.4s;
    }

    .navbar li:nth-child(3){
        transition: all 0.5s ease-in-out 0.6s;
        -webkit-transition: all 0.5s ease-in-out 0.6s;
        -moz-transition: all 0.5s ease-in-out 0.6s;
        -o-transition: all 0.5s ease-in-out 0.6s;
    }

    .navbar li:nth-child(4){
        transition: all 0.5s ease-in-out 0.9s;
        -webkit-transition: all 0.5s ease-in-out 0.9s;
        -moz-transition: all 0.5s ease-in-out 0.9s;
        -o-transition: all 0.5s ease-in-out 0.9s;
    }

    li.fade{opacity: 1;}

    .intro h1{
        font-size: 5em;
    }
    
    .intro a{
        font-size: 2em;
    }

    .leftcontent{
        padding: 20px;
        border: 5px solid white;
    }

    .leftcontent h1{
        font-size: 4rem;
    }
    
    .leftcontent h2 {
        font-size: 3rem;
    }
    
    .leftcontent p {font-size: 1.5rem;}

    .right{
        top: 15%;
    }

    .rightcontent{
        width: 80%;
        height: 70%;
    }

    .mySlides:nth-child(1){
        padding: 20px 10px 10px;
    }
}

    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .coverpage{
        background-attachment: scroll;
    }

    .portfolio{
        flex-direction: column;
        height: 200vh;
    }

    .left, .right{
        width: 100%;
        height: 100vh;
    }

    .leftcontent{
        top: 25%;
        height: 50%;
        width: 70%;
        border: 3px solid white;
        padding: 10px;
    }

    .leftcontent hr{
        height: 4px;
    }

    .leftcontent h1{
        font-size: 5rem;
    }
    
    .leftcontent h2 {
        font-size: 3.5rem;
    }
    
    
    .leftcontent p {font-size: 2rem;}

    .right{
        top: 5%;
    }

    .rightcontent{
        height: 70%;
    }


}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */

    .leftcontent{
        top: 30%;
        height: 40%;
        width: 85%;
    }

    .leftcontent hr{
        height: 3px;
    }

    .leftcontent h1{
        font-size: 3rem;
    }
    
    .leftcontent h2 {
        font-size: 2rem;
    }

    .leftcontent p {font-size: 1.5rem;}

    .right{
        top: 7%;
    }

    .rightcontent{
        height:80%;
    }

    .mySlides:nth-child(1) p,
    .mySlides:nth-child(2) p,
    .mySlides:nth-child(3) h3{
        font-size: 14px;
    }

    .mySlides:nth-child(1),
    .mySlides:nth-child(3){
        line-height: 25px;
    }

    .mySlides:nth-child(3) p{
        font-size: 12px;
    }

    .mySlides:nth-child(3) h2{
        font-size: 15px;
    }

    .mySlides:nth-child(3) h3{
        padding-top: 5px;
    }

}

/*Smartphone Responsive*/
@media screen and (max-width: 850px) and (max-height: 450px){
    .portfolio{
        height: 200vh;
        width: 100%;
        flex-direction: column;
    }

    .left, .right{
        width: 100%;
    }

    .leftcontent{
        top: 20%;
        height: 65%;
        width: 70%;
    }

    .leftcontent hr{
        height: 5px;
    }

    .leftcontent h1{
        font-size: 65px;
    }
    
    .leftcontent h2 {
        font-size: 40px;
    }

    .leftcontent p {font-size: 20px;}

    .right{
        top: 5%;
    }

    .rightcontent {
        top: 5%;
    }

    .rightcontent {
        height: 70%;
    }

    .dot-container{
        padding: 8px;
    }
    .progresscontainer{
        height: 5px;
    }

    .mySlides:nth-child(1) p,
    .mySlides:nth-child(2) p,
    .mySlides:nth-child(3) h3{
        font-size: 14px;
    }

    .mySlides:nth-child(1),
    .mySlides:nth-child(3){
        line-height: 25px;
    }

    .mySlides:nth-child(2){
        padding: 15px;
        line-height: 20px;
    }

    .mySlides:nth-child(3) p{
        font-size: 12px;
    }

    .mySlides:nth-child(3) h2{
        font-size: 15px;
    }

    .mySlides:nth-child(3) h3{
        padding-top: 5px;
    }



}

@media screen and (max-width: 670px) and (max-height: 380px){

    .right{
        height: 80%;
    }

    .mySlides:nth-child(1) p,
    .mySlides:nth-child(3) h3{
        font-size: 14px;
    }

    .mySlides:nth-child(2){
        padding: 10px;
        line-height: 20px;
    }

    .progresscontainer{
        height: 5px;
    }

    .mySlides:nth-child(2) p{
        font-size: 12px;
    }

    .mySlides:nth-child(1),
    .mySlides:nth-child(3){
        line-height: 20px;
    }

    .mySlides:nth-child(3){
        padding: 15px;
    }

    .mySlides:nth-child(3) p{
        font-size: 12px;
    }

    .mySlides:nth-child(3) h2{
        font-size: 15px;
    }

    .mySlides:nth-child(3) h3{
        padding-top: 5px;
    }

    .dot-container{
        padding: 5px;
    }

}

/*Galaxy Fold*/
@media screen and (max-width: 700px) and (max-height: 300px){
    .intro{
        top: 25%;
    }

    .leftcontent{
        height: 60%;
    }

    .leftcontent hr{
        height: 3px;
    }

    .leftcontent h1{
        font-size: 50px;
    }
    
    .leftcontent h2 {
        font-size: 30px;
    }

    .leftcontent p {font-size: 17px;}

    .rightcontent {
        height: 80%;
        width: 70%;
    }

    .mySlides:nth-child(3){
        padding: 15px;
    }

    .mySlides:nth-child(3) h3{
        padding-top: 3px;
    }
}
